BOT_TOKEN=TG_TOKEN
# DONT DELETE IF NOT USE WEBHOOK
BOT_PORT=3030
BOT_IP=127.0.0.1
#

ADMIN=169870156

DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASS=kcvbcB5aQ5Pb4VnKxENIj7
DB_NAME=vpnbot
SERVER_URL='/free_vpn/bot'